body {
  margin: 0;
}

.App {
  text-align: center;
}

.Cards {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.Modal {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  background-color: "background.paper";
  border: 2px solid #000;
  box-shadow: 24;
  /* p: 4: */
}