body {
  margin: 0;
}

.App {
  text-align: center;
}

.Cards {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 10px;
}
